// main: main.scss


$dark-magenta : hsl(300, 43%, 22%);

$pink-text : hsl(333, 80%, 67%);


$dark-grey-magenta: hsl(303, 10%, 53%);

$light-grey-magenta: hsl(300, 24%, 96%);

$white: hsl(0, 0%, 100%);


$standard-font-size: 0.9375rem;


$font-family: 'League Spartan', sans-serif;


$margin-box :1.25rem 0rem;
